<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JCDG</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowStudent</display-name>
    <servlet-name>ShowStudent</servlet-name>
    <servlet-class>jcdg.ShowStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudent</servlet-name>
    <url-pattern>/ShowStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterStudent</display-name>
    <servlet-name>AlterStudent</servlet-name>
    <servlet-class>jcdg.AlterStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterStudent</servlet-name>
    <url-pattern>/AlterStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUser</display-name>
    <servlet-name>CheckUser</servlet-name>
    <servlet-class>jcdg.CheckUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUser</servlet-name>
    <url-pattern>/CheckUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>jcdg.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAdmMassage</display-name>
    <servlet-name>GetAdmMassage</servlet-name>
    <servlet-class>jcdg.GetAdmMassage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdmMassage</servlet-name>
    <url-pattern>/GetAdmMassage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>jcdg.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Img</display-name>
    <servlet-name>Img</servlet-name>
    <servlet-class>jcdg.Img</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Img</servlet-name>
    <url-pattern>/Img</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>jcdg.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGrade</display-name>
    <servlet-name>ShowGrade</servlet-name>
    <servlet-class>jcdg.ShowGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGrade</servlet-name>
    <url-pattern>/ShowGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGrade</display-name>
    <servlet-name>AddGrade</servlet-name>
    <servlet-class>jcdg.AddGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGrade</servlet-name>
    <url-pattern>/AddGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterGrade</display-name>
    <servlet-name>AlterGrade</servlet-name>
    <servlet-class>jcdg.AlterGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterGrade</servlet-name>
    <url-pattern>/AlterGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGrade</display-name>
    <servlet-name>DeleteGrade</servlet-name>
    <servlet-class>jcdg.DeleteGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGrade</servlet-name>
    <url-pattern>/DeleteGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OneStudent</display-name>
    <servlet-name>OneStudent</servlet-name>
    <servlet-class>jcdg.OneStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneStudent</servlet-name>
    <url-pattern>/OneStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetIndex</display-name>
    <servlet-name>GetIndex</servlet-name>
    <servlet-class>jcdg.GetIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIndex</servlet-name>
    <url-pattern>/GetIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetIndex2</display-name>
    <servlet-name>GetIndex2</servlet-name>
    <servlet-class>jcdg.GetIndex2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIndex2</servlet-name>
    <url-pattern>/GetIndex2</url-pattern>
  </servlet-mapping>
</web-app>